                                    /* SELETOR UNIVERSAL */
                                    *{margin: 0px;
                                        padding: 0px;}
                                        
                                                                                    /*CORPO DA PÁGINA  */
                                        
                                        body{font-family: sans-serif;}
                                        
                                                                                    /* SECÇAO CABEÇALHO */
                                        
                                        .cabecalho{background-color: rgba(131, 22, 189, 0.758);
                                        color: white;
                                        display: flex;
                                        padding: 30px;
                                        font-size: 20px;
                                        justify-content: space-around;}
                                        
                                        .cabecalho-imagem{width: 400px;
                                        height: 200px;}
                                        
                                        .cabecalho-item{display: inline-block;
                                        padding: 0 30px;}
                                        
                                                                                    /* SECÇAO ESBOCO */
                                        
                                        .esboco{background-image: linear-gradient(rgba(131, 22, 189, 0.758), rgba(169, 72, 194, 0.705));}
                                        
                                        .esboco-titulo{background-color: rgb(169, 72, 194, 0.705);
                                            color: white;
                                            padding-bottom: 20px;
                                            text-align: center;
                                            font-size: 30px;
                                        }
                                        
                                        .esboco-paragrafo-um{
                                            font-size: 22px;
                                        }
                                        
                                        .esboco-paragrafo-dois{
                                            font-size: 22px;
                                        }

                                        .esboco-paragrafo-tres{
                                            font-size: 22px;
                                        }
                                        
                                        
                                        .esboco-div{display: flex;
                                        justify-content: center;
                                        font-size: 30px;
                                        padding: 0 200px;}
                                        
                                        .esboco-imagem{
                                            width: 700px;
                                            padding: 40px;
                                            margin: 10px;
                                        }
                                        
                                        .esboco-imagem-2{
                                            width: 500px;
                                            padding: 40px;
                                            margin: 10px;}
                                        
                                         .esboco-imagem-3{
                                           width: 500px;
                                            padding: 40px;
                                                margin: 10px;}
                                        
                                                                                /*SECÇAO FOTOS*/
                                        .fotos{background-image:linear-gradient( rgba(77, 81, 190, 0.614), rgba(22, 27, 189, 0.614));
                                        }
                                        
                                        .foto-imagem{
                                            width: 450px;
                                            height: 350px;
                                        }
                                        
                                        .foto-imagem-um{
                                            width: 450px;
                                            height: 450px;
                                        }
                                        
                                        .foto-imagem-dois{
                                        width: 370px;
                                        }
                                        
                                        .foto-imagem-tres{
                                        width: 350px;
                                            height: 350px;
                                        }
                                        
                                        .foto-imagem-quatro{
                                        width: 390px;
                                            height: 359px;
                                        }
                                        
                                        .foto-imagem-cinco{
                                        width: 350px;
                                            height: 350px;
                                        }
                                        
                                        .foto-imagem-seis{
                                        width: 270px;
                                         position: relative;
                                        }
                                        
                                        .foto-imagem-final{
                                            width: 1500px;
                                            height: 600px;
                                            justify-content: center;
                                            margin: auto;
                                            padding:0 100px;
                                        }
                                        
                                                                                    /* SECÇAO INTEGRANTE */
                                        
                                        .integrante{background-image: linear-gradient( rgba(22, 27, 189, 0.614), rgba(22, 27, 189, 0.614));}
                                        
                                        .integrante-titulo{background-color: rgba(22, 27, 189, 0.614);
                                            text-align: center;
                                            font-size: 17px;
                                            padding: 17px 0;}
                                        
                                        .integrante-todos{display: grid;
                                        grid-template-columns: 20% 20% 20% 20% 20%;}
                                        
                                        .integrante-div{text-align: center;}
                                        
                                        .integrante-imagem{width: 100px;
                                            margin:0 50px;}
                                        
                                        .integrante-icone{width: 45px;
                                            padding: 45px;}
                                        
                                        .integrante-legenda{font-size: 20px;}
                                        
                                                                                /* RODAPÉ */
                                        
                                        .rodape{background-color: black;
                                        color: white;
                                        text-align: center;
                                        padding: 30px 0;}